
@model PageProps

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    
    <title>@ViewData["Title"]  - Sindagal</title>
    <link rel="stylesheet" href="/css/layoutStyle.css" />
    <link rel="stylesheet" href="/css/siteStyle.css" />
    <link rel="stylesheet" href="/css/contentStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.5.0/prism-cb.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="body-container">
        <header class="body-container__header">
            <div class="header__nav-container">
                <nav>
                    <div class="nav__descriptor" role="presentation">
                        <a class="descriptor__logo" asp-area="" asp-controller="Home" asp-action="Index">@Model.Base.BrandName</a>
                        <span class="descriptor__current-page">@Model.Name</span>
                    </div>
                    <ul class="nav__menu"> 
                        @if(Model.Name != null && Model.Tabs != null){
                            int i = 0;
                            @foreach (PageTab pageSection in Model.Tabs){
                                <li class="menu__element">
                                    @if(i == 0){
                                        <button class="element__anchor element__anchor--active" type="button" id=@Model.Name-nav-item data-key=@pageSection.Name>@pageSection.Name</button> 
                                    }
                                    else {
                                        <button class="element__anchor element__anchor--inactive" type="button" id=@Model.Name-nav-item data-key=@pageSection.Name>@pageSection.Name</button>
                                    }
                            </li> 
                            i++;
                            }
                        }
                        else{
                            @foreach (string pageName in Model.Base.PageNames){
                            <li class="menu__element">
                                <a class="element__anchor element__anchor--inactive" asp-area="" asp-action="Index" asp-controller=@pageName>@pageName</a>
                            </li>
                            } 
                        }
                    </ul>
                </nav>
            </div>
            <div class="header__brand-display">
                <div role="presentation" class="brand-display__column">
                    <h1 class="brand-display__header">The power of laziness</h1>
                    <h2 class="brand-display__context">At the palms of your hands...</h2>
                </div>
                @* need to have a hidden div so the flex item above 
                will appear on the lhs without breaking responsivity of the page *@
                <div role="presentation"></div>

            </div>
        </header>
        <main class="body-container__main" role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="body__footer">
            <p class="footer__disclaimer">This software is at the concept phase and it comes without warranties</p>
            <p class="footer__copy">&copy; 2022 - @Model.Base.BrandDescription</p>
    </footer>

    <script src="~/js/layout.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
